@using PagedList.Mvc

@model ETicaret.MVCUI.Models.HomeIndexKarmaModel

    <!-- single product slide -->
<div class="single-product-slider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>En Yeni Ürünler</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="latestProductPages">
            <!-- single product -->
            @foreach (var latestProduct in Model.LatestAddedProducts)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <a href="/Product/Detay/@latestProduct.Id"><img class="img-fluid" src="/Content/img/product/p1.jpg" alt=""></a> 
                        <div class="product-details">
                            <a href="/Product/Detay/@latestProduct.Id">
                                <h6>
                                    @latestProduct.Name
                                </h6>
                            </a>
                            <div class="price">
                                <h6>@latestProduct.Price</h6>
                                <h6 class="l-through">$210.00</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">Sepete Ekle</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-heart"></span>
                                    <p class="hover-text">İstek Listesi</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-sync"></span>
                                    <p class="hover-text">Karşılaştır</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">Detay</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
                
            <!-- single product -->
           
        </div>
        <div class="filter-bar d-flex flex-wrap align-items-center" >

            @Html.PagedListPager(Model.LatestAddedProducts,page=>Url.Action("Index",new RouteValueDictionary
            {
                {"pageNo",page},
        
            }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "latestProductPages" }))


        </div>
    </div>
  
</div>

    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>En Çok Satan Ürünler</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var modelOrderDetail in Model.OrderDetails)
                {
                    <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <a href="/Product/Detay/@modelOrderDetail.Product_Id"><img class="img-fluid" src="/Content/img/product/p6.jpg" alt=""></a>
                        <div class="product-details">
                            <a href="/Product/Detay/@modelOrderDetail.Product_Id">
                                <h6>
                                    @modelOrderDetail.Product.Name
                                </h6>
                            </a>
                            <div class="price">
                                <h6>@modelOrderDetail.Product.Price</h6>
                                <h6 class="l-through">$210.00</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">Sepete At</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-heart"></span>
                                    <p class="hover-text">İstek Listesi</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-sync"></span>
                                    <p class="hover-text">Karşılaştır</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">Detay Görüntüle</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </div>
