@using ETicaret.Entities.Models
@model List<Comment>

    @foreach (var a in Model)
    {

        //todo mesaj mesapları yapılacak
        if (a.ToWhoId == null)
        {
            <div data-pid="@a.Product_Id" class="review_item pid">
                <div class="media">
                    <div class="d-flex">
                        <img src="/Content/img/product/review-1.png" alt="">
                    </div>
                    <div class="media-body">

                        <h4>@a.Member.Name</h4>
                        <h5>@a.AddedDate</h5>
                        <a class="reply_btn" href="#">Yanıtla</a>
                    </div>
                </div>
                <p>
                    @a.Text
                </p>
            </div>
        }
                                <!--todo yorum yanıtları çalışmıyor düzeltilecek-->
        if (ViewBag.commentRepplies != null)
        {
            foreach (Comment commentRepply in ViewBag.commentRepplies)
            {
                <div class="review_item reply">
                    <div class="media">
                        <div class="d-flex">
                            <img src="Content/img/product/review-2.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>@commentRepply.Member.Name</h4>
                            <h5>@commentRepply.AddedDate</h5>
                            <a class="reply_btn" href="#">Yanıtla</a>
                        </div>
                    </div>
                    <p>@commentRepply.Text</p>
                </div>
            }
        }

    }

