@using ETicaret.Entities
@using ETicaret.Entities.Models
@model ETicaret.MVCUI.Models.ProductAndReviews

<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Açıklamalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Özellikler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">Yorumlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Geri Dönüşler</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>
                Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes
                and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in
                Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to
                London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an
                officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a
                job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when
                showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a
                child’s painting set for her birthday and it was with this that she produced her first significant work, a
                half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly
                named ‘Hangover’ by Beryl’s husband and
            </p>
            <p>
                It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing
                more and more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and
                the death of spouses or grown children leaving for college are all reasons that someone accustomed to cooking for
                more than one would suddenly need to learn how to adjust all the cooking practices utilized before into a
                streamlined plan of cooking that is more efficient for one person creating less
            </p>
        </div>
        
            @Html.Partial("_ProductOptions",Model.Product)
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="comment_list BurayaAppend">
                            @Html.Partial("_CommentList", Model.Comments)
                        </div>
                        <div class="col-md-12 text-right yorumH4ekle">
                            <button type="submit" class="primary-btn yorumbutton">Daha Fazla Yükle</button>
                        </div>
                        </div>
                    
                    
                        @Html.Partial("_AddComment", Model.Product)
                   
                    </div>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Ortalama</h5>
                                    <h4>@ViewBag.avg</h4>
                                    <h6>(@ViewBag.TotalReviews Değerlendirme)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Toplam @ViewBag.TotalReviews Değerlendirme</h3>
                                    <ul class="list">
                                        <li>
                                            <a href="Javascript:Void(0)">
                                                5 Stars
                                               
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                              
                                              
                                              
                                            </a>(@ViewBag.fiveStars)
                                        </li>
                                        <li>
                                            <a href="Javascript:Void(0)">
                                                4 Stars
                                               
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>


                                            </a>(@ViewBag.fourStars)
                                        </li>
                                        <li>
                                            <a href="Javascript:Void(0)">
                                                3 Stars
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </a>(@ViewBag.threeStars)
                                        </li>
                                        <li>
                                            <a href="Javascript:Void(0)">
                                                2 Stars
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </a>(@ViewBag.twoStars)
                                        </li>
                                        <li>
                                            <a href="Javascript:Void(0)">
                                                1 Star &nbsp;
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </a>(@ViewBag.oneStars)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            @Html.Partial("_ReviewList", Model.ProductReviews)
                        </div>
                    
                        <div class="col-md-12 text-right sonunaH4Ekle">
                            <button type="submit"class="primary-btn yukle">Daha Fazla Yükle</button>
                        </div>
                        </div>
                    <div class="col-lg-6" >
                        @Html.Partial("_Review", Model.Product)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>


<script type="text/javascript">
    var pageNo = 1;
    var IsDataFull = true;
  
    
    if (IsDataFull) {
        $(".yukle").click(function () {

            var pro = $(".dataAl").data("proid");

            $.ajax({
                url: "/Product/Detay",
                data: { id: pro, page: pageNo },

                success: function(veri) {
                  
                        $(".review_list").append(veri);
                        pageNo++;
                    
                        if ($.trim(veri == '')) {
                            IsDataFull = false;
                            if (IsDataFull == false) {
                                $(".yukle").hide();

                                $(".sonunaH4Ekle").append("<h4>Görüntülenecek başka veri yok</h4>");

                            }
                        }
                  
                },
                error: function() {
                    alert("Yükleme Esnasında Bir Hata Oluştu!");
                }
            });
        });
    }
</script>

<!--Yorum sayfalama-->
<script type="text/javascript">
    var page = 1;
    var IsDataFull = true;
    if (IsDataFull) {
        $(".yorumbutton").click(function () {

            var pro = $(".pid").data("pid");

            $.ajax({
                url: "/Product/Detay",
                data: { id: pro, commentPage: page },

                success: function(veri) {
                  
                        $(".BurayaAppend").append(veri);
                        page++;
                        if ($.trim(veri == '')) {
                            IsDataFull = false;
                            if (IsDataFull == false) {
                                $(".yorumbutton").hide();

                                $(".yorumH4ekle").append("<h4>Görüntülenecek başka veri yok</h4>");

                            }

                        }                                                                                                                                                       
                    
                 
                },
                error: function() {
                    alert("Yükleme Esnasında Bir Hata Oluştu!");
                }
            });
        });
    }
</script>